@media (min-width: $mobileScreen){
    .add, .edit {
        padding-top: 5vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $grey;
        row-gap: 3vh;
        > article {
            background-color: white;
            padding: 1vh;
            border: 2px solid black;
            border-radius: 10px;
        }
        > section {
            background-color: white;
            border: 2px solid black;
            padding: 2vh;
        }
    }
    .addForm {
        display: flex;
        flex-direction: column;
        row-gap: 3px;
        > aside {
            display: flex;
            justify-content: space-between;
            > input, textarea {
                width: 50%;
                text-align: center;
            }
        }
        select {
            width: 30%;
            text-align: center;
        }
        .scorerA, .scorerB {
            width: 50%;
            display: flex;
            flex-direction: column;
            input {
                width: 98%;
            }
        }
        button {
            font-weight: 600;
            background-color: white;
            margin-top: 1vh;
        }
    }
}