@media (min-width: $mobileScreen){
    header {
        background-color: $grey;
        color: $brown;
        text-align: center;
        padding: 1vh 5vh 1vh 5vh;
        border-bottom: 3px solid black;
        nav {
            >a {
                display: none;
            }
            >button {
                display: none;
            }
        }
    }
}