@media(min-width:$desktopScreen){
    .add, .edit {
        > section {
            width: 50%;
        }
    }
    .addForm {
        .scorerA, .scorerB {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            input {
                width: 30%;
            }
        }
        textarea {
            height: 15vh;
        }
    }
}