@media (min-width:$tabletScreen){
    .home {
        a {
            transition: .4s;
            &:hover {
                background-color: black;
                color: whitesmoke;
            }
        }
        .delete {
            &:hover {
                background-color: red;
            }
        }
    }
    .filter {
        form {
            width: 50%;
        }
    }
    .order {
        width: 60%;
        align-self: center;
        li { 
            transition: .4s;
            &:hover {
                background-color: black;
                color: whitesmoke;
            }
        }
    }
    .list {
        align-items: center;
        li {
            width: 60%;
        }
    }
}