@media (min-width: $mobileScreen){
    .match {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 5vh;
        background-color: $grey;
        padding: 20vh 0;
        > section {
            padding: 1vh;
            background-color: white;
            display: flex;
            flex-direction: column;
            row-gap: 2vh;
            align-items: center;
            width: 90%;
            border: 1px solid black;
            > article {
                display: flex;
                column-gap: 2vh;
            }
            > aside {
                display: flex;
                flex-direction: column;
                row-gap: 2px;
            }
            p {
                border-top: 1px solid black;
                text-align: center;
                width: 90%;
            }
        }
        > aside {
            display: flex;
            justify-content: space-around;
            width: 80%;
            padding: 1vh 0;
            a {
                background-color: white;
                border: 1px solid black;
                width: 7vh;
                height: 7vh;
                border-radius: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                color: black;
                font-weight: 600;
            }
        }
        .yellow {
            color: yellow;
        }
    }
}